{% extends "base.html" %}

{% block content %}
<h1>Project {{ project.name }}</h1>

<p>{{ project.description }}</p>

<h2> Reports </h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Created</th>
            <th>Tests</th>
            <th>Failures</th>
            <th>Errors</th>
            <th>Skipped</th>
            <th>Assertions</th>
            <th>Duration</th>
        </tr>
    </thead>
    <tbody>
        {% for report in project.report_set.all %}
        <tr>
            <td><a href={% url "report-detail" project.name report.id %}>{{ report.name }}</a></td>
            <td>{{ report.created }}</td>
            <td>{{ report.tests }}</td>
            <td>{{ report.failures }}</td>
            <td>{{ report.errors }}</td>
            <td>{{ report.skipped }}</td>
            <td>{{ report.assertions }}</td>
            <td>{{ report.time }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
