{% extends "base.html" %}
{% load junit %}

{% block content %}
<h1>Project "{{ report.project.name }}"</h1>

<p>{{ report.project.description }}</p>

<h2> Report "{{ report.name }}" </h2>

<table class="table" style="width: 50%">
    <tbody>
        <tr>
            <th>Created</th>
            <td>{{ report.created }}</td>
        </tr>
        <tr>
            <th>Tests</th>
            <td>{{ report.tests }}</td>
        </tr>
        <tr>
            <th>Failures</th>
            <td>{{ report.failures }}</td>
        </tr>
        <tr>
            <th>Errors</th>
            <td>{{ report.errors }}</td>
        </tr>
        <tr>
            <th>Skipped</th>
            <td>{{ report.skipped }}</td>
        </tr>
        <tr>
            <th>Assertions</th>
            <td>{{ report.assertions }}</td>
        </tr>
        <tr>
            <th>Duration</th>
            <td>{{ report.time }}</td>
        </tr>
    </tbody>
</table>
{% for testsuite in report.report.testsuites %}
<h3>Testsuite "{{ testsuite.metadata.name }}"</h3>
<table class="table" style="width: 50%">
    <tbody>
        <tr>
            <th>Created</th>
            <td>{{ testsuite.metadata.timestamp }}</td>
        </tr>
        <tr>
            <th>Tests</th>
            <td>{{ testsuite.metadata.tests }}</td>
        </tr>
        <tr>
            <th>Failures</th>
            <td>{{ testsuite.metadata.failures }}</td>
        </tr>
        <tr>
            <th>Errors</th>
            <td>{{ testsuite.metadata.errors }}</td>
        </tr>
        <tr>
            <th>Skipped</th>
            <td>{{ testsuite.metadata.skipped }}</td>
        </tr>
        <tr>
            <th>Assertions</th>
            <td>{{ testsuite.metadata.assertions }}</td>
        </tr>
        <tr>
            <th>Duration</th>
            <td>{{ testsuite.metadata.duration}}</td>
        </tr>
        {%   for k, v in testsuite.properties.items %}
        <tr>
            <th>{{ k }}</th>
            <td>{{ v }}</td>
        </tr>
        {%   endfor %}
    </tbody>
</table>
<hr/>
{%   for testcase in testsuite.testcases %}
<br/>
<div class="card {{ testcase | card_class }}">
  <div class="card-header">
      {{ testcase | testcase_header }}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ testcase.name }}</h5>
    <div class="container">
        <table class="table table-info table-sm table-hover" style="width: 50%">
            <tbody>
                <tr>
                    <th>Class</th>
                    <td>{{ testcase.classname }}</td>
                </tr>
                <tr>
                    <th>File</th>
                    <td>{{ testcase.file }}</td>
                </tr>
                <tr>
                    <th>Line</th>
                    <td>{{ testcase.line }}</td>
                </tr>
                <tr>
                    <th>Assertions</th>
                    <td>{{ testcase.assertions }}</td>
                </tr>
                <tr>
                    <th>Duration</th>
                    <td>{{ testcase.duration }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <p class="card-text"></p>
  </div>
</div>
{%   endfor %}
{% endfor %}
{% endblock %}
