{% extends "base.html" %}
{% load junit %}

{% block content %}
<div class="row">
  <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
    <ul class="nav flex-column">
      {% for testsuite in report.report.testsuites %}
      <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2 active" aria-current="page" href="#TS-{{ testsuite.metadata.name | slugify }}">
            Suite "{{ testsuite.metadata.name }}"
        </a>
      {% endfor %}
    </ul>
  </div>
  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <h1>Project "{{ report.project.name }}"</h1>

    <p>{{ report.project.description }}</p>

    <h2> Report "{{ report.name }}" </h2>

    <div class="container">
      <table class="table" style="width: 80%">
          <thead>
              <tr>
                  <th>Created</th>
                  <th>Tests</th>
                  <th>Failures</th>
                  <th>Errors</th>
                  <th>Skipped</th>
                  <th>Assertions</th>
                  <th>Duration</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>{{ report.created }}</td>
                  <td>{{ report.tests }}</td>
                  <td>{{ report.failures }}</td>
                  <td>{{ report.errors }}</td>
                  <td>{{ report.skipped }}</td>
                  <td>{{ report.assertions }}</td>
                  <td>{{ report.time }}</td>
              </tr>
          </tbody>
      </table>
    </div>

    {% for testsuite in report.report.testsuites %}
    <h3 id="TS-{{ suite.metadata.name | slugify }}">Testsuite "{{ testsuite.metadata.name }}"</h3>
    <div class="container">
      <table class="table" style="width: 80%">
          <thead>
              <tr>
                  <th>Created</th>
                  <th>Tests</th>
                  <th>Failures</th>
                  <th>Errors</th>
                  <th>Skipped</th>
                  <th>Assertions</th>
                  <th>Duration</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>{{ testsuite.metadata.timestamp }}</td>
                  <td>{{ testsuite.metadata.tests }}</td>
                  <td>{{ testsuite.metadata.failures }}</td>
                  <td>{{ testsuite.metadata.errors }}</td>
                  <td>{{ testsuite.metadata.skipped }}</td>
                  <td>{{ testsuite.metadata.assertions }}</td>
                  <td>{{ testsuite.metadata.duration}}</td>
              </tr>
          </tbody>
      </table>
    </div>
    <h4>Properties</h4>
    <div class="container">
      <table class="table table-info table-sm" style="width: 50%">
          <tbody>
              {%   for k, v in testsuite.properties.items %}
              <tr>
                  <th>{{ k }}</th>
                  <td>{{ v.strip |linebreaks }}</td>
              </tr>
              {%   endfor %}
          </tbody>
      </table>
    </div>

    <hr/>
    <h4> Testcases </h4>
    {%   for testcase in testsuite.testcases %}
    <div class="accordion" id="accordion-tc-{{ testcase.name | slugify }}">
      <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed {{ testcase | card_class }}" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-tc-collapse-{{ testcase.name | slugify }}" aria-expanded="false" aria-controls="accordion-tc-collapse-{{ testcase.name | slugify }}">
                <div class="row" style="width:100%">
                    <div class="col-5">
                        <b>{{ testcase.name }}</b>
                    </div>
                    <div class="col-6">
                        <small><i>{{ testcase | testcase_header }}</i></small>
                    </div>
                    <div class="col-1">
                        <small>{{ testcase.duration }}s</small>
                    </div>
                </div>
          </button>
        </h2>
        <div id="accordion-tc-collapse-{{ testcase.name | slugify }}" class="accordion-collapse collapse">
          <div class="accordion-body">
            <div class="container">
              <table class="table table-info table-sm table-hover" style="width: 50%">
                  <tbody>
                      <tr>
                          <th>Class</th>
                          <td>{{ testcase.classname }}</td>
                      </tr>
                      <tr>
                          <th>File</th>
                          <td>{{ testcase.file }}</td>
                      </tr>
                      <tr>
                          <th>Line</th>
                          <td>{{ testcase.line }}</td>
                      </tr>
                      <tr>
                          <th>Assertions</th>
                          <td>{{ testcase.assertions }}</td>
                      </tr>
                      <tr>
                          <th>Duration</th>
                          <td>{{ testcase.duration }}</td>
                      </tr>
                  </tbody>
              </table>
              {% if testcase.error_description %}
              <h3>Error</h3>
              <pre class="text-bg-warning">{{ testcase.error_description }}</pre>
              {% endif %}
              {% if testcase.failure_description %}
              <h3>Failure</h3>
              <pre class="text-bg-warning">{{ testcase.failure_description }}</pre>
              {% endif %}
              {% if testcase.stderr %}
              <h3>Stderr</h3>
              <pre class="text-bg-warning">{{ testcase.stderr }}</pre>
              {% endif %}
              {% if testcase.stdout %}
              <h3>Stdout</h3>
              <pre class="text-bg-info">{{ testcase.stdout }}</pre>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {%   endfor %}
    {% endfor %}
  </main>
</div>
{% endblock %}
